version: '3'

services:
  prometheus:
    image: {{ monitoring_docker_prometheus_image_name }}
    container_name: {{ monitoring_docker_prometheus_container_name }}
    networks:
    - {{ monitoring_docker_network_name }}
    - {{ monitoring_docker_proxy_network_name }}
    volumes:
    - {{ monitoring_prometheus_conf_path }}:/etc/prometheus/
    - {{ monitoring_prometheus_data_path }}:/prometheus
    command:
    - '--config.file=/etc/prometheus/prometheus.yml'
    - '--storage.tsdb.path=/prometheus'
    - '--web.console.libraries=/etc/prometheus/console_libraries'
    - '--web.console.templates=/etc/prometheus/consoles'
    - '--storage.tsdb.retention=200h'
    expose:
    - 9090
    restart: always
    labels:
      role: prometheus

  grafana:
    image: {{ monitoring_docker_grafana_image_name }}
    container_name: {{ monitoring_docker_grafana_container_name }}
    networks:
    - {{ monitoring_docker_network_name }}
    - {{ monitoring_docker_proxy_network_name }}
    volumes:
    - {{ monitoring_grafana_data_path }}:/var/lib/grafana
    expose:
    - 3000
    restart: always
    labels:
      role: grafana

networks:
  {{ monitoring_docker_network_name }}:
  {{ monitoring_docker_proxy_network_name }}:
    external: true